name: Terraform Validate

on:
  pull_request:
    branches: [main]
    paths:
      - '**.tf'
      - '.tflint.hcl'
      - '.github/workflows/validate.yml'

jobs:
  validate:
    name: Validate
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        module:
          - modules/flash-nodes
          - modules/k3s-cluster
          - modules/talos-cluster
          - modules/addons/metallb
          - modules/addons/ingress-nginx
          - modules/addons/longhorn
          - modules/addons/monitoring
          - modules/addons/portainer

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Format Check
        run: terraform fmt -check -recursive
        working-directory: ${{ matrix.module }}

      - name: Terraform Init
        run: terraform init -backend=false
        working-directory: ${{ matrix.module }}

      - name: Terraform Validate
        run: terraform validate
        working-directory: ${{ matrix.module }}

      - name: Setup TFLint
        uses: terraform-linters/setup-tflint@v6

      - name: TFLint Init
        run: tflint --init --config "$GITHUB_WORKSPACE/.tflint.hcl"
        working-directory: ${{ matrix.module }}

      - name: TFLint
        run: tflint --config "$GITHUB_WORKSPACE/.tflint.hcl" --format compact
        working-directory: ${{ matrix.module }}

  security:
    name: Security Scan
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Run Trivy security scanner
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: config
          scan-ref: .
          trivy-config: trivy.yaml
          exit-code: 1
